body {
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial,
    sans-serif;
  max-width: 1080px;
  min-width: 960px;
  margin: 0 auto;
  color: #000;
}
#main-visual {
  width: 100%;
  position: relative;
}

#second-visual {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}

#third-visual {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
  gap: 20px;
}

.text {
  padding: 0 80px;
}
.black {
  position: relative;
  z-index: 0;
}
.black::before {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 1;
}
.black:hover::before {
  opacity: 0.5;
}

#back-btn {
  position: absolute;
  padding: 25px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

@keyframes whiteout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.white {
  animation-name: whiteout;
  animation-duration: 3s;
}

#btn {
  font-size: 48px;
  background-color: #fff;
  border: #fff;
}

.is-active {
  color: rgb(108, 33, 116);
}

.button {
  background-color: #000;
  border-radius: 12px;
  box-shadow: 2px 4px 6px 3px rgba(0, 0, 0, 0.24);
  color: #fff;
  font-size: 16px;
  line-height: 1.6;
  display: block;
  padding: 12px 20px;
  text-align: center;
  cursor: pointer;
  margin: 0;
}

.layer {
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
}
.modal_inner {
  position: relative;
  margin: 125px auto;
  background: #fff;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.24);
  border-radius: 13px;
  display: block;
  padding: 21px 8px 21px;
  height: auto;
}

.modal_content {
  padding-top: 15px;
  padding-bottom: 23px;
}

.modal__button-wrap {
  position: absolute;
  right: 10px;
  top: -28px;
  display: inline-flex;
}
.close-button {
  position: relative;
  width: 39px;
  height: 39px;
  background: #000;
  border-radius: 50%;
  padding: 0;
  border: transparent;
  cursor: pointer;
}

.close-button span {
  width: 25px;
  height: 2px;
  background: #fff;
  display: inline-block;
  position: absolute;
  left: calc(50% -12px);
  top: 50%;
  border-radius: 20px;
}
.close-button span:nth-child(1) {
  transform: rotate(45deg) translate(-1px, -1px);
}
.close-button span:nth-child(2) {
  transform: rotate(-45deg) translate(1px, -1px);
}

.layer {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* 追記 */
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  /* 追記　ふわっと */
  transition: opacity 1s linear, visibility 1s linear, z-index 1s linear;
}

.modal {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  min-width: 440px;
  /* 追記 */
  opacity: 0;
  visibility: hidden;
  /* 追記　ふわっと */
  transition: visibility.7s linear, opacity 0.7s linear;
}

.layer.is-open {
  z-index: 999;
  opacity: 1;
  visibility: visible;
}

.layer.is-open.modal {
  opacity: 1;
  visibility: visible;
}
